---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/?api_action=api.spec
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ERRORARRAY":[],"DATA":{"VERSION":3.3,"METHODS":{"linode.list":{"DESCRIPTION":"Returns
        a list of all Linodes user has access or delete to, including some properties.  Status
        values are -1: Being Created, 0: Brand New, 1: Running, and 2: Powered Off.","PARAMETERS":{"LinodeID":{"NAME":"LinodeID","DESCRIPTION":"Limits
        the list to the specified LinodeID","TYPE":"numeric","REQUIRED":false}},"THROWS":""},"nodebalancer.node.update":{"DESCRIPTION":"Updates
        a Node''s properties","PARAMETERS":{"Label":{"NAME":"Label","DESCRIPTION":"This
        backend Node''s label","TYPE":"string","REQUIRED":false},"NodeID":{"NAME":"NodeID","DESCRIPTION":"","TYPE":"numeric","REQUIRED":true},"Mode":{"NAME":"Mode","DESCRIPTION":"The
        connections mode for this node.  One of ''accept'', ''reject'', or ''drain''","TYPE":"string","REQUIRED":false},"Weight":{"NAME":"Weight","DESCRIPTION":"Load
        balancing weight, 1-255. Higher means more connections.","TYPE":"numeric","REQUIRED":false},"Address":{"NAME":"Address","DESCRIPTION":"The
        address:port combination used to communicate with this Node","TYPE":"string","REQUIRED":false}},"THROWS":"NOTFOUND,VALIDATION"},"domain.update":{"DESCRIPTION":"Update
        a domain record.","PARAMETERS":{"DomainID":{"NAME":"DomainID","DESCRIPTION":"","TYPE":"numeric","REQUIRED":true},"Description":{"NAME":"Description","DESCRIPTION":"Currently
        undisplayed.","TYPE":"string","REQUIRED":false},"Retry_sec":{"NAME":"Retry_sec","DESCRIPTION":"","TYPE":"numeric","REQUIRED":false},"Expire_sec":{"NAME":"Expire_sec","DESCRIPTION":"","TYPE":"numeric","REQUIRED":false},"status":{"NAME":"status","DESCRIPTION":"0,
        1, or 2 (disabled, active, edit mode)","TYPE":"numeric","REQUIRED":false},"Refresh_sec":{"NAME":"Refresh_sec","DESCRIPTION":"","TYPE":"numeric","REQUIRED":false},"lpm_displayGroup":{"NAME":"lpm_displayGroup","DESCRIPTION":"Display
        group in the Domain list inside the Linode DNS Manager","TYPE":"string","REQUIRED":false},"master_ips":{"NAME":"master_ips","DESCRIPTION":"When
        type=slave, the zone''s master DNS servers list, semicolon separated ","TYPE":"string","REQUIRED":false},"SOA_Email":{"NAME":"SOA_Email","DESCRIPTION":"Required
        when type=master","TYPE":"string","REQUIRED":false},"TTL_sec":{"NAME":"TTL_sec","DESCRIPTION":"","TYPE":"numeric","REQUIRED":false},"Domain":{"NAME":"Domain","DESCRIPTION":"The
        zone''s name","TYPE":"string","REQUIRED":false},"Type":{"NAME":"Type","DESCRIPTION":"master
        or slave","TYPE":"string","REQUIRED":false},"axfr_ips":{"NAME":"axfr_ips","DESCRIPTION":"IP
        addresses allowed to AXFR the entire zone, semicolon separated","TYPE":"string","REQUIRED":false}},"THROWS":"NOTFOUND,VALIDATION"},"avail.datacenters":{"DESCRIPTION":"Returns
        a list of Linode data center facilities.","PARAMETERS":{},"THROWS":""},"avail.linodeplans":{"DESCRIPTION":"Returns
        a structure of Linode PlanIDs containing the Plan label and the availability
        in each Datacenter.","PARAMETERS":{"PlanID":{"NAME":"PlanID","DESCRIPTION":"Limits
        the list to the specified PlanID","TYPE":"numeric","REQUIRED":false}},"THROWS":""},"linode.disk.delete":{"DESCRIPTION":"","PARAMETERS":{"LinodeID":{"NAME":"LinodeID","DESCRIPTION":"","TYPE":"numeric","REQUIRED":true},"DiskID":{"NAME":"DiskID","DESCRIPTION":"","TYPE":"numeric","REQUIRED":true}},"THROWS":"NOTFOUND,VALIDATION"},"image.update":{"DESCRIPTION":"Update
        an Image record.","PARAMETERS":{"label":{"NAME":"label","DESCRIPTION":"The
        label of the Image.","TYPE":"string","REQUIRED":false},"description":{"NAME":"description","DESCRIPTION":"An
        optional description of the Image.","TYPE":"string","REQUIRED":false},"ImageID":{"NAME":"ImageID","DESCRIPTION":"The
        ID of the Image to modify.","TYPE":"numeric","REQUIRED":true}},"THROWS":"NOTFOUND,VALIDATION"},"linode.webconsoletoken":{"DESCRIPTION":"Generates
        a console token starting a web console LISH session for the requesting IP","PARAMETERS":{"LinodeID":{"NAME":"LinodeID","DESCRIPTION":"","TYPE":"numeric","REQUIRED":true}},"THROWS":"NOTFOUND,VALIDATION"},"nodebalancer.create":{"DESCRIPTION":"","PARAMETERS":{"Label":{"NAME":"Label","DESCRIPTION":"This
        NodeBalancer''s label","default":"deflabel9000cakemix","TYPE":"string","REQUIRED":false},"ClientConnThrottle":{"NAME":"ClientConnThrottle","DESCRIPTION":"To
        help mitigate abuse, throttle connections per second, per client IP. 0 to
        disable. Max of 20.","default":0,"TYPE":"numeric","REQUIRED":false},"DatacenterID":{"NAME":"DatacenterID","DESCRIPTION":"The
        DatacenterID from avail.datacenters() where you wish to place this new NodeBalancer","TYPE":"numeric","REQUIRED":true}},"THROWS":"NOACCESS,CCFAILED,VALIDATION"},"linode.ip.addpublic":{"DESCRIPTION":"Assigns
        a Public IP to a Linode.  Returns the IPAddressID and IPAddress that was added.","PARAMETERS":{"LinodeID":{"NAME":"LinodeID","DESCRIPTION":"The
        LinodeID of the Linode that will be assigned an additional public IP address","TYPE":"numeric","REQUIRED":true}},"THROWS":"NOTFOUND,VALIDATION"},"domain.create":{"DESCRIPTION":"Create
        a domain record.","PARAMETERS":{"SOA_Email":{"NAME":"SOA_Email","DESCRIPTION":"Required
        when type=master","default":"","TYPE":"string","REQUIRED":false},"Description":{"NAME":"Description","DESCRIPTION":"Currently
        undisplayed.","default":"","TYPE":"string","REQUIRED":false},"TTL_sec":{"NAME":"TTL_sec","DESCRIPTION":"","default":0,"TYPE":"numeric","REQUIRED":false},"Retry_sec":{"NAME":"Retry_sec","DESCRIPTION":"","default":0,"TYPE":"numeric","REQUIRE[...]
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: username=<USER>&password=<PASSWORD>&api_key=&api_action=user.getapikey
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ERRORARRAY":[],"DATA":{"USERNAME":"<USER>","API_KEY":"SEKRIT"},"ACTION":"user.getapikey"}'
  recorded_at: Thu, 29 Oct 2015 02:01:46 GMT
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=zX5aHPSyskOuJmWTxTAkiNrsmyocoILpBLkGapC0Pu78IRMwSXMlAIZTCvab6qr8&api_action=test.echo
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ERRORARRAY":[],"DATA":{},"ACTION":"test.echo"}'
  recorded_at: Thu, 29 Oct 2015 02:01:46 GMT
recorded_with: VCR 2.9.3
