---
http_interactions:
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: isxen=true&api_key=<APIKEY>&api_action=avail.kernels
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ERRORARRAY":[],"DATA":[{"ISKVM":1,"LABEL":"Latest 32 bit (4.1.5-x86-linode80)","ISXEN":1,"ISPVOPS":1,"KERNELID":137},{"ISKVM":0,"LABEL":"3.13.7-x86-linode57","ISXEN":1,"ISPVOPS":1,"KERNELID":178},{"ISKVM":0,"LABEL":"3.14.1-x86-linode58","ISXEN":1,"ISPVOPS":1,"KERNELID":180},{"ISKVM":0,"LABEL":"3.14.4-x86-linode59","ISXEN":1,"ISPVOPS":1,"KERNELID":182},{"ISKVM":0,"LABEL":"3.14.5-x86-linode60","ISXEN":1,"ISPVOPS":1,"KERNELID":184},{"ISKVM":0,"LABEL":"3.14.5-x86-linode61","ISXEN":1,"ISPVOPS":1,"KERNELID":186},{"ISKVM":0,"LABEL":"3.15.2-x86-linode62","ISXEN":1,"ISPVOPS":1,"KERNELID":188},{"ISKVM":0,"LABEL":"3[...]
